@using Dal.Models

@model Role

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <table class="table">

        @if (Model.PersonRole != null)
                {
                @foreach (var item in Model.PersonRole)
                    {
                    @Html.Partial("_PersonRoleRow", item)
                }
            }
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>